# ignore all __pycache__ directories
__pycache__/
models/
slide/
video/
poster/
# ignore all .npz files
*.npz
result_long_term_forecast.txt
*.aux
*.log
*.out
*.synctex.gz
*.tex
*.DS_Store
img/
results/
checkpoints/
test_results/
data/
dataset/
